body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container principal */
.container {
    background: white;
    padding: 30px;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

/* Input + botão */
input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #4facfe;
    color: white;
    transition: 0.3s;
}

button:hover {
    background: #00c6ff;
}

/* Lista */
ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #f5f5f5;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* tarefa concluída */
.done {
    text-decoration: line-through;
    color: gray;
}

/* botão excluir */
li button {
    background: #ff4d4d;
}

li button:hover {
    background: #cc0000;
}